<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  
    <figure class="errorpage">
 <img src="image/404error.jpg" alt="404 page">
    </figure>
</body>
</html>