<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link rel="stylesheet" href="css/style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
{{>header}}

  <!-- hero section start -->
  <section class=" bg-main hero-section bg-color pt-5">
    <div class="container-fluid section-one ">
      <div class="row">
        <div class="col-12 col-lg-6">


          <h1 class="fw-bolder name text-capitalize">my name is sachin chaudhary </h1>
          <p class="fw-bolder namepra1"><span class="namepra">Full Stack devloper | Expert in Node.js, Express.js, and
              MongoDB</span><br />
            Sepecifically mentioning expertise in Node.js, Express.js and MongoDB can attract the right kind of
            professional attention. It tells empoloyers exactly what you <sup>,</sup>re good at, making their job easier
          </p>
          <div class="text-center pt-5">
           <a href="/registation"> <button class="text-capitalize btn btn-change btn-primary px-3 py-2" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-title="Register">click here</button></a>

          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 text-center ">
          <img class="picc img-fluid" src="image/sachin.jpg" alt="pic">

        </div>
      </div>

    </div>

    </div>
    <div class="custom-shape-divider-bottom-1693825142">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
          d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
          class="shape-fill"></path>
      </svg>
    </div>
  </section>

  <!-- hero section end -->
  {{!-- section two start --}}

  <section class="section-two">
    <div class="comman-title text-center mt-4">
      <h2 class="fw-bolder italic">Welcome To Social Media <br> My Profile</h2>
      <hr class=" w-25 mx-auto">
    </div>
    <div class="container mt-5 g-5 ">
      <div class="row">
        <div class="col-12 col-lg-4 col-md-12">
          <div class="text-center card-box ">
            <img src="image/youtube.png" alt="pic" class="img-fluid pt-3" width="200px">
            <h5 class="mt-2">YouTube</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quaerat eum laborum quis qui atque.</p>
            <div class="text-center">
              <a href="https://www.youtube.com/@Sachinwithcode" class="ggg rounded-circle" data-bs-toggle="tooltip"
                data-bs-placement="left" data-bs-title="Home"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-4 col-md-12">
          <div class="text-center card-box shadow">
            <img src="image/facebook.webp" alt="pic" class="img-fluid pt-3" width="200px">
            <h5 class="mt-2">Facebook</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quaerat eum laborum quis qui atque.</p>
            <div class="text-center">
              <a href="https://www.youtube.com/@Sachinwithcode" class="ggg rounded-circle"
                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Facebook"><i
                  class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-4 col-md-12">
          <div class="text-center card-box ">
            <img src="image/insta.png" alt="pic" class="img-fluid pt-3" width="200px">
            <h5 class="mt-2">Instragram</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quaerat eum laborum quis qui atque.</p>
            <div class="text-center">
              <div class="text-center">
                <a href="https://instragram.com/i.am.sachinchaudhary" class="ggg rounded-circle"
                  data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Instragram"><i
                    class="fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  {{!-- section two end --}}
  {{!-- section three start --}}

  <section class=" section-three bg-color mt-3 backimage">
    <div class="container-fluid section-one ">
      <div class="row">
        <div class="col-12 col-lg-6 ">
          <figure>
            <img class="picc1 img-fluid" src="image/jaatlogo.png" alt="pic">
          </figure>

        </div>
        <div class="col-12 col-lg-6 mt-5 px-5">
         
          <p class="fw-bolder namepra1"><span class="namepra">Full Stack devloper | Expert in Node.js, Express.js, and
              MongoDB</span><br />
            Since the innovation of computer and the birth of the internet, growth of technology is changing lives.With the rapid growth of smartphones, gadget devlopment, and the increasing reach of tech in everyday life, web developer is one of the most attractive fields in the tech industry
          </p>
          <div class="pt-2">
     <a href="/">
            <button class="text-capitalize btn btn-primary px-3 py-2" data-bs-toggle="tooltip" data-bs-placement="left"
              data-bs-title="Back">Go To Home</button></a>

          </div>
        </div>

      </div>

    </div>

  </section>

  {{!-- section three end --}}
  {{!-- section fourth start --}}

 

  {{!-- section fourth end --}}
  {{!-- section five start --}}

  <section class="section-five  bg-color">
    <div class="container white mt-5 pt-4">
      <h2 class="fw-bolder text-white text-center">Welcome To My Images</h2>
      <hr class="text-white  w-25 mx-auto">
    </div>
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          {{!-- card one --}}
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-4 mb-2">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="card" style="width: 18rem;">
                    <img src="image/sachin4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Swimming Time</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>

                      <div class="mt-3">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="far fa-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {{!-- card two --}}
              <div class="col-12 col-lg-4 mb-2">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="card " style="width: 18rem;">
                    <img src="image/sachin2.jpg" class="card-img-top" alt="...">
                    <div class="card-body ">
                      <h5 class="card-title">Selfie</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                      <div class="mt-3">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="far fa-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {{!-- card two --}}
              {{!-- card three --}}
              <div class="col-12 col-lg-4 mb-2">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="card" style="width: 18rem;">
                    <img src="image/sachin3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">R 15 Bike Raceing</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                      <div class="mt-3">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="far fa-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {{!-- card three --}}

            </div>
          </div>








          {{!-- carousei end --}}
        </div>
        <div class="carousel-item">

          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-4 mb-2">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="card" style="width: 18rem;">
                    <img src="image/sachin1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Class Masti</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>

                      <div class="mt-3">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="far fa-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {{!-- card two --}}
              <div class="col-12 col-lg-4 mb-2">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="card " style="width: 18rem;">
                    <img src="image/sachin5.jpg" class="card-img-top" alt="...">
                    <div class="card-body ">
                      <h5 class="card-title">Swimming pool</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                      <div class="mt-3">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="far fa-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {{!-- card two --}}
              {{!-- card three --}}
              <div class="col-12 col-lg-4 mb-2">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="card maxchass" style="width: 18rem;">
                    <img src="image/sachin6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Swimming With Rest</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                      <div class="mt-3">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="far fa-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {{!-- card three --}}

            </div>
          </div>

        </div>
        
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>





  </section>

  {{!-- section five end --}}
  

{{>footer}}








  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>
</body>

</html>
<!-- https://www.shapedivider.app/ -->
<!-- https://fontawesome.com/icons -->
<!-- https://cdnjs.com/libraries/font-awesome -->