<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
  <div class="container-fluid mt-3 py-5 color">
    <div class="row">
      <div class="col-12 col-lg-4">
<div class="d-flex justify-content-center align-items-center">
<div  class="fs-5">
  <h3  class="mb-3">Biography</h3>
<p>Name     : Sachin Chaudhary</p>
<p>Gender   : Mail</p>
<p>Date of Birth  : 31/Oct/2003</p>
<p>Nationality : Indian</p>
</div>
</div>
      </div>
      <div class="col-12 col-lg-4">
<div class="d-flex justify-content-center align-items-center">
<div class="fs-5">
  <h3 class="mb-3">Family Info:</h3>
<p>Father        : Sunil kumar</p>
<p>Mother      : Sunita Devi</p>
<p>Brother  : Vipin Chaudhary</p>
<p>Sister     : No..</p>
</div>
</div>
      </div>
    <div class="col-12 col-lg-4">
<div class="d-flex justify-content-center align-items-center">
<div class="fs-5">
  <h3 class="mb-3">Height , Weight , Body Stats</h3>
  <p>Height : 6 feet</p>
<p>Weight : 65 Kg</p>
<p>Hair Color : Black</p>
<p>Eyes Color : Black</p>

</div>
</div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>